<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.

 * @category    Atwix Mod
 * @package     Atwix_Jig
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2012 Atwix (http://www.atwix.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */-->
<config>
    <modules>
        <Atwix_Jig>
            <version>0.1.0</version>
        </Atwix_Jig>
    </modules>
    <global>
        <blocks>
            <atwix_jig>
                <class>Atwix_Jig_Block</class>
            </atwix_jig>
        </blocks>
        <models>
            <atwix_jig>
                <class>Atwix_Jig_Model</class>
            </atwix_jig>
        </models>
        <resources>
            <jig_setup>
                <setup>
                    <module>Atwix_Jig</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </jig_setup>
        </resources>
    <helpers>
        <atwix_jig>
            <class>Atwix_Jig_Helper</class>
        </atwix_jig>
    </helpers>
    <!--
        <resources>
            <atwix_jig_setup>
                <setup>
                    <module>Atwix_Jig</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </atwix_jig_setup>
            <atwix_jig_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </atwix_jig_write>
            <atwix_jig_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </atwix_jig_read>
        </resources>
    -->
    </global>
    <frontend>
        <routers>
            <atwix_jig>
                <use>standard</use>
                <args>
                    <module>Atwix_Jig</module>
                    <frontName>jig</frontName>
                </args>
            </atwix_jig>
        </routers>
    <!--
        <translate>
            <modules>
                <Atwix_Jig>
                    <files>
                        <default>Atwix_Jig.csv</default>
                    </files>
                </Atwix_Jig>
            </modules>
        </translate>
    -->
    <!--
        <layout>
            <updates>
                <atwix_jig module="Atwix_Jig">
                    <file>atwix_jig.xml</file>
                </atwix_jig>
            </updates>
        </layout>
    -->
    </frontend>
    <admin>
    <!--
        <routers>
            <atwix_jig>
                <use>admin</use>
                <args>
                    <module>Atwix_Jig</module>
                    <frontName>atwix_jig</frontName>
                </args>
            </atwix_jig>
        </routers>
    -->
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <atwix_jig module="Atwix_Jig">
                    <file>atwix/jig.xml</file>
                </atwix_jig>
            </updates>
        </layout>
    </adminhtml>
    <default>
    <!--
        <atwix_jig>
            <general>
                <enabled>1</enabled>
            </general>
        </atwix_jig>
    -->
    </default>
    <crontab>
    <!--
        <jobs>
            <jobname>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>atwix_jig/model_name::actionName</model></run>
            </jobname>
        </jobs>
    -->
    </crontab>
</config>