<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.

 * @category    Atwix Mod
 * @package     Atwix_Jig
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2012 Atwix (http://www.atwix.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */-->
<config>
    <tabs>
        <atwix translate="label" module="atwix_jig">
            <label>Atwix Extensions</label>
            <sort_order>350</sort_order>
        </atwix>
    </tabs>
    <sections>
            <atwix_jig translate="label" module="atwix_jig">
                <class>separator-top</class>
                <label>Atwix Jig</label>
                <tab>atwix</tab>
                <sort_order>10</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
                <groups>
                    <general translate="label">
                        <label>The Kitchen</label>
                        <frontend_type>text</frontend_type>
                        <sort_order>10</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>0</show_in_store>
                        <fields>
                            <kitchen translate="label">
                                <label></label>
                                <frontend_type>multiline</frontend_type>
                                <frontend_model>atwix_jig/adminhtml_system_config_kitchen</frontend_model>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </kitchen>
                        </fields>
                    </general>
                </groups>
            </atwix_jig>
        -->
    </sections>
</config>
